html,
body,
#root {
  font: 0.9rem sans-serif;
  background: #0a1f44;
  color: #1e2432;
  height: 100%;
  margin: 0;
}

html .main-container,
body .main-container,
#root .main-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.418))), url("../image/bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)), url("../image/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html .main-container .search,
body .main-container .search,
#root .main-container .search {
  outline: none;
  padding: 20px 7%;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  background: rgba(250, 250, 250, 0.85);
}

html .main-container .city,
body .main-container .city,
#root .main-container .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 8%;
  border-radius: 20px;
  background: rgba(250, 250, 250, 0.85);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
          box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
}

html .main-container .city sup,
body .main-container .city sup,
#root .main-container .city sup {
  font-size: 0.5em;
}

html .main-container .city .city-name,
body .main-container .city .city-name,
#root .main-container .city .city-name {
  font-size: 2em;
}

html .main-container .city .city-name sup,
body .main-container .city .city-name sup,
#root .main-container .city .city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: #fff;
  background: #ff8c00;
}

html .main-container .city .city-temp,
body .main-container .city .city-temp,
#root .main-container .city .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #1e2432;
  text-align: center;
}

html .main-container .city .info,
body .main-container .city .info,
#root .main-container .city .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .main-container .city .info .city-icon,
body .main-container .city .info .city-icon,
#root .main-container .city .info .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

html .main-container .city .info p,
body .main-container .city .info p,
#root .main-container .city .info p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 600px) {
  .search {
    padding: 20px 15%;
  }
  .city {
    padding: 40px 20%;
  }
}
/*# sourceMappingURL=style.css.map */